[submodule "selfishgame"]
	path = selfishgame
	url = https://github.com/lisezmoi/selfish-game-challenge.git
[submodule "reversible"]
	path = reversible
	url = https://github.com/lisezmoi/reversible.git
